.card-cr {
  /* border: 1px solid green; */
  display: flex;

  gap: 1rem;
  z-index: 5000000000;
  position: absolute;
  top: 39rem;
  overflow-x: scroll;
  width: 34.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card-cr::-webkit-scrollbar {
  display: none;
}
