.dropdown {
  height: auto;
  width: 36rem;
  background-color: #fff;
  position: relative;
  top: -1rem;
  /* border: 1px solid peru; */
}
.dropdownHeading {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.6rem;
}
.Accordion-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 96%;
  column-gap: 1rem;
}
