.video-container {
  /* border: 1px solid green; */
  height: 36rem;
  width: 36rem;
  position: sticky;
  z-index: 0;
  top: 5.6rem;
  background-color: #e29c69;
  background-position: left;
  background-size: cover;
  background-image: #fff;
}
.playButtonCircle {
  height: 4.33rem;
  width: 4.33rem;
  background-color: #fff;
  position: fixed;
  top: 19rem;
  left: 16.5rem;
  border-radius: 50%;
}
.playIcon {
  position: relative;
  height: 2rem;
  width: 2.33rem;
  top: 20.2rem;
  left: 17.6rem;
  color: #333333;
  position: fixed;
  z-index: 3000;
}
.video-text {
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
  /* border: 1px solid red; */
  width: fit-content;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 9rem;
  top: 22rem;
  z-index: 100;
  background-color: #33333388;
}
.video {
  object-position: center;
  object-fit: contain;
  z-index: -1;
}
